.time {
  border-top-style: dashed;
  border-right-style: solid;
  border-width: 0.1rem;
}

.form {
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: white;
  border-radius: 0px;
  font-size: SMALL;
}

.saveContainer {
  padding: 0px;
  border-left-style: solid;
  border-left-color: black;
  border-left-style: solid;
  border-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: white;
}

.button {
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
  padding: 1rem;
  background-color: #0098d3;
  border-color: #0098d3;
}

.form-control:focus {
  border-color: #afaeb0 !important;
  box-shadow: 0 0 5px #afaeb0 !important;
}

.p2 {
  padding-bottom: 1rem;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: .75rem;
}